<% provide(:title, "All Fixes") %>
<h1>All fixes</h1>

<table class="table .table-striped">
  <thead>
  	<tr>
    	<th>Customer Details</th>
    	<th>Status</th> 
    	<th>Service Provider</th>
      <th>History</th>
    	<th>Actions</th>
  	</tr>
  </thead>

	<tbody>
		<%= render @fixes %>
	</tbody>

</table>

